In [176]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\projects\ds\lessons\.venv\lib\site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in c:\projects\ds\lessons\.venv\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\projects\ds\lessons\.venv\lib\site-packages (from category_encoders) (1.5.0)
Requirement already satisfied: scipy>=1.0.0 in c:\projects\ds\lessons\.venv\lib\site-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\projects\ds\lessons\.venv\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in c:\projects\ds\lessons\.venv\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\projects\ds\lessons\.venv\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\projects\ds\lessons\.venv\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\projects\ds\lessons\.venv\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\projects\ds\lessons\.venv\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in c:\projects\ds\lessons\.venv\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\projects\ds\lessons\.venv\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\projects\ds\lessons\.venv\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\projects\ds\lessons\.venv\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.0)

In [177]:
import pandas as pd
import category_encoders as ce

2. Создание признаков

In [178]:
cleared_data = pd.read_csv('data/wine_cleared.zip', index_col=0)

In [179]:
display(cleared_data.head(3))

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [180]:
# для удобства сразу преобразуем признак в int
cleared_data['price_round'] = cleared_data['price'].round().astype(int)

In [181]:
cleared_data.head(2)

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,35
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,15

In [182]:
regex = '\d{4}' # регулярное выражение для нахождения чисел
cleared_data['year'] = cleared_data['title'].str.findall(regex).str.get(0)

In [183]:
display(cleared_data.head(3))

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round,year
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,35,2013
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,15,2011
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,14,2013

In [184]:
cleared_data['is_usa'] = cleared_data['country'].apply(lambda x: 1 if x == 'US' else 0)

In [185]:
display(cleared_data.head(3))

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round,year,is_usa
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,35,2013,0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,15,2011,0
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,14,2013,1

In [186]:
cleared_data.groupby('country').count().sort_values(by='designation', ascending=False).head(3)

,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round,year,is_usa
country,,,,,,,,,,,,,,
US,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504,53585,54504
France,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093,20511,22093
Italy,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540,18550,19540

In [187]:
cleared_data['is_france'] = cleared_data['country'].apply(lambda x: 1 if x == 'France' else 0)
cleared_data['is_italy'] = cleared_data['country'].apply(lambda x: 1 if x == 'Italy' else 0)

In [188]:
display(cleared_data['is_france'].sum())
display(cleared_data['is_italy'].sum())

22093

19540

In [189]:
cleared_data['year'].isna().sum()

4609

In [190]:
cleared_data['old_wine'] = cleared_data['year'].apply(lambda x: 1 if type(x)==str and int(x) < 2010 else 0)

In [191]:
cleared_data['old_wine'].sum()

39781

In [192]:
cleared_data['locality'] = cleared_data['title'].str.findall('\([\w ]+\)').str.get(0)
display(cleared_data[['title', 'locality']])

,title,locality
0,Nicosia 2013 Vulkà Bianco (Etna),(Etna)
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),(Douro)
2,Rainstorm 2013 Pinot Gris (Willamette Valley),(Willamette Valley)
3,St. Julian 2013 Reserve Late Harvest Riesling ...,(Lake Michigan Shore)
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,(Willamette Valley)
...,...,...
129966,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,(Mosel)
129967,Citation 2004 Pinot Noir (Oregon),(Oregon)
129968,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,(Alsace)
129969,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),(Alsace)
129970,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,(Alsace)

In [193]:
cleared_data['locality'][129966]

'(Mosel)'

3. Создание признаков. Внешние источники данных

In [194]:
country_population = pd.read_csv('data/country_population.zip', sep=';')

In [195]:
country_population.head(3)

  country     population
0   China  1,411,778,724
1   India  1,386,584,581
2      US    333,022,386

In [196]:
# Каково население Италии согласно датасету country_population? Ответ вводите без пробелов и запятых.
country_population[country_population['country'] == 'Italy']['population']

24    59,097,904
Name: population, dtype: object

In [197]:
cleared_data = cleared_data.join(country_population.set_index('country'), on='country')

In [198]:
country_area = pd.read_csv('data/country_area.zip', sep=';')
country_area

          country         area
0          Russia  17075400.00
1          Canada   9984670.00
2           China   9596960.00
3              US   9372610.00
4          Brazil   8547000.00
..            ...          ...
188    San Marino        61.00
189        Tuvalu        26.00
190         Nauru        21.00
191        Monaco         2.00
192  Vatican City         0.44

[193 rows x 2 columns]

In [199]:
cleared_data = cleared_data.join(country_area.set_index('country'), on='country')
cleared_data = cleared_data.rename(columns={'area': 'area_country'})
cleared_data

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,...,winery,price_round,year,is_usa,is_france,is_italy,old_wine,locality,population,area_country
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),...,Nicosia,35,2013,0,0,1,0,(Etna),"59,097,904",301230.0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),...,Quinta dos Avidagos,15,2011,0,0,0,0,(Douro),"10,347,892",92391.0
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),...,Rainstorm,14,2013,1,0,0,0,(Willamette Valley),"333,022,386",9372610.0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,Alexander Peartree,unknown,St. Julian 2013 Reserve Late Harvest Riesling ...,...,St. Julian,13,2013,1,0,0,0,(Lake Michigan Shore),"333,022,386",9372610.0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,...,Sweet Cheeks,65,2012,1,0,0,0,(Willamette Valley),"333,022,386",9372610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.000000,Mosel,unknown,Anna Lee C. Iijima,unknown,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,...,Dr. H. Thanisch (Erben Müller-Burggraef),28,2013,0,0,0,0,(Mosel),"83,129,285",357022.0
129967,US,Citation is given as much as a decade of bottl...,unknown,90,75.000000,Oregon,Oregon,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),...,Citation,75,2004,1,0,0,1,(Oregon),"333,022,386",9372610.0
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,...,Domaine Gresser,30,2013,0,1,0,0,(Alsace),"68,035,000",547030.0
129969,France,"A dry style of Pinot Gris, this is crisp with ...",unknown,90,32.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),...,Domaine Marcel Deiss,32,2012,0,1,0,0,(Alsace),"68,035,000",547030.0
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,...,Domaine Schoffit,21,2012,0,1,0,0,(Alsace),"68,035,000",547030.0

In [200]:
# Создайте новый признак area_country — площадь страны, аналогичный признаку population.

# Какая площадь страны у вина под названием 'Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))'? Ответ вводите без пробелов, округлите до целых.
cleared_data[cleared_data['title'] == 'Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))']['area_country']

94    9372610.0
Name: area_country, dtype: float64

4. Создание признаков. Работа с форматом «дата-время»

In [201]:
# инициализируем информацию о звонках
calls_list = [
    [460, '2013-12-17 04:55:39', '2013-12-17 04:55:44', '2013-12-17 04:55:45'],
    [12, '2013-12-16 20:03:20', '2013-12-16 20:03:22', '2013-12-16 20:07:13'],
    [56, '2013-12-16 20:03:20', '2013-12-16 20:03:20', '2013-12-16 20:05:04'],
    [980, '2013-12-16 20:03:20','2013-12-16 20:03:27', '2013-12-16 20:03:29'],
    [396, '2013-12-16 20:08:27', '2013-12-16 20:08:28','2013-12-16 20:12:03'],
    [449, '2013-12-16 20:03:20', '2013-12-16 20:03:25','2013-12-16 20:05:00'],
    [397, '2013-12-16 20:08:25', '2013-12-16 20:08:27', '2013-12-16 20:09:59'],
    [398, '2013-12-16 20:01:23', '2013-12-16 20:01:23', '2013-12-16 20:04:58'],
    [452, '2013-12-16 20:03:20', '2013-12-16 20:03:21','2013-12-16 20:04:55'],
    [440, '2013-12-16 20:03:20', '2013-12-16 20:04:26', '2013-12-16 20:04:32']
]

calls = pd.DataFrame(calls_list, columns = ['client_id',  'agent_date', 'created_at' ,'end_date'])

# преобразовываем признаки в формат datetime для удобной работы

calls['agent_date'] = pd.to_datetime(calls['agent_date'])
calls['created_at'] = pd.to_datetime(calls['created_at'])
calls['end_date'] = pd.to_datetime(calls['end_date'])

In [202]:
calls

   client_id          agent_date          created_at            end_date
0        460 2013-12-17 04:55:39 2013-12-17 04:55:44 2013-12-17 04:55:45
1         12 2013-12-16 20:03:20 2013-12-16 20:03:22 2013-12-16 20:07:13
2         56 2013-12-16 20:03:20 2013-12-16 20:03:20 2013-12-16 20:05:04
3        980 2013-12-16 20:03:20 2013-12-16 20:03:27 2013-12-16 20:03:29
4        396 2013-12-16 20:08:27 2013-12-16 20:08:28 2013-12-16 20:12:03
5        449 2013-12-16 20:03:20 2013-12-16 20:03:25 2013-12-16 20:05:00
6        397 2013-12-16 20:08:25 2013-12-16 20:08:27 2013-12-16 20:09:59
7        398 2013-12-16 20:01:23 2013-12-16 20:01:23 2013-12-16 20:04:58
8        452 2013-12-16 20:03:20 2013-12-16 20:03:21 2013-12-16 20:04:55
9        440 2013-12-16 20:03:20 2013-12-16 20:04:26 2013-12-16 20:04:32

In [203]:
calls['duration'] = (calls['end_date'] - calls['created_at']).dt.seconds
calls

,client_id,agent_date,created_at,end_date,duration
0,460,2013-12-17 04:55:39,2013-12-17 04:55:44,2013-12-17 04:55:45,1
1,12,2013-12-16 20:03:20,2013-12-16 20:03:22,2013-12-16 20:07:13,231
2,56,2013-12-16 20:03:20,2013-12-16 20:03:20,2013-12-16 20:05:04,104
3,980,2013-12-16 20:03:20,2013-12-16 20:03:27,2013-12-16 20:03:29,2
4,396,2013-12-16 20:08:27,2013-12-16 20:08:28,2013-12-16 20:12:03,215
5,449,2013-12-16 20:03:20,2013-12-16 20:03:25,2013-12-16 20:05:00,95
6,397,2013-12-16 20:08:25,2013-12-16 20:08:27,2013-12-16 20:09:59,92
7,398,2013-12-16 20:01:23,2013-12-16 20:01:23,2013-12-16 20:04:58,215
8,452,2013-12-16 20:03:20,2013-12-16 20:03:21,2013-12-16 20:04:55,94
9,440,2013-12-16 20:03:20,2013-12-16 20:04:26,2013-12-16 20:04:32,6

In [204]:
# Подсчитайте, сколько секунд тратят сотрудники компании на дозвон клиенту. Результат запишите в новый признак time_connection.
# 
# В ответ запишите результат выполнения следующего кода: calls['time_connection'].sum().
calls['time_connection'] = (calls['created_at'] - calls['agent_date']).dt.seconds
calls

,client_id,agent_date,created_at,end_date,duration,time_connection
0,460,2013-12-17 04:55:39,2013-12-17 04:55:44,2013-12-17 04:55:45,1,5
1,12,2013-12-16 20:03:20,2013-12-16 20:03:22,2013-12-16 20:07:13,231,2
2,56,2013-12-16 20:03:20,2013-12-16 20:03:20,2013-12-16 20:05:04,104,0
3,980,2013-12-16 20:03:20,2013-12-16 20:03:27,2013-12-16 20:03:29,2,7
4,396,2013-12-16 20:08:27,2013-12-16 20:08:28,2013-12-16 20:12:03,215,1
5,449,2013-12-16 20:03:20,2013-12-16 20:03:25,2013-12-16 20:05:00,95,5
6,397,2013-12-16 20:08:25,2013-12-16 20:08:27,2013-12-16 20:09:59,92,2
7,398,2013-12-16 20:01:23,2013-12-16 20:01:23,2013-12-16 20:04:58,215,0
8,452,2013-12-16 20:03:20,2013-12-16 20:03:21,2013-12-16 20:04:55,94,1
9,440,2013-12-16 20:03:20,2013-12-16 20:04:26,2013-12-16 20:04:32,6,66

In [205]:
calls['time_connection'].sum()

89

In [206]:
# Создайте новый признак is_connection — факт соединения с клиентом. Признак будет равен 1 в случае, если разговор состоялся и продлился больше 10 секунд, иначе — 0.

# В ответ запишите результат выполнения следующего кода: calls['is_connection'].sum()
calls['is_connection'] = calls['duration'].apply(lambda x: 1 if x > 10 else 0)

In [207]:
calls

,client_id,agent_date,created_at,end_date,duration,time_connection,is_connection
0,460,2013-12-17 04:55:39,2013-12-17 04:55:44,2013-12-17 04:55:45,1,5,0
1,12,2013-12-16 20:03:20,2013-12-16 20:03:22,2013-12-16 20:07:13,231,2,1
2,56,2013-12-16 20:03:20,2013-12-16 20:03:20,2013-12-16 20:05:04,104,0,1
3,980,2013-12-16 20:03:20,2013-12-16 20:03:27,2013-12-16 20:03:29,2,7,0
4,396,2013-12-16 20:08:27,2013-12-16 20:08:28,2013-12-16 20:12:03,215,1,1
5,449,2013-12-16 20:03:20,2013-12-16 20:03:25,2013-12-16 20:05:00,95,5,1
6,397,2013-12-16 20:08:25,2013-12-16 20:08:27,2013-12-16 20:09:59,92,2,1
7,398,2013-12-16 20:01:23,2013-12-16 20:01:23,2013-12-16 20:04:58,215,0,1
8,452,2013-12-16 20:03:20,2013-12-16 20:03:21,2013-12-16 20:04:55,94,1,1
9,440,2013-12-16 20:03:20,2013-12-16 20:04:26,2013-12-16 20:04:32,6,66,0

In [208]:
calls['is_connection'].sum()

7

In [209]:
# Создайте признак time_diff — разницу в секундах между началом звонка(не разговора) и его окончанием.

# В ответ запишите результат выполнения следующего кода: calls['time_diff'].sum()
calls['time_diff'] = calls['duration'] + calls['time_connection']

In [210]:
calls['time_diff'].sum()

1144

In [211]:
calls = calls.drop(columns=['agent_date', 'created_at' ,'end_date'], axis=1)

In [212]:
# Создайте признак количество дней с момента произведения вина — years_diff для датасета винных обзоров. За дату отсчёта возьмите 12 января 2022 года. В ответ впишите максимальное количество дней с момента произведения вина. Ответ округлите до целого числа.

# При попытке преобразовать созданный ранее столбец year в формат datetime, вы получите ошибку OutOfBoundsDatetime, которая возникает из-за некорректного ожидаемого формата входных данных. Чтобы справиться с этой ошибкой, воспользуйтесь параметром errors в функции to_datetime библиотеки Pandas. Параметр нужно установить в значение coerce:
# data['year'] = pd.to_datetime(data['year'], errors = 'coerce')
# Подробнее о назначении этого параметра вы можете прочесть в документации.
cleared_data.head(3)

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,...,winery,price_round,year,is_usa,is_france,is_italy,old_wine,locality,population,area_country
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),...,Nicosia,35,2013,0,0,1,0,(Etna),"59,097,904",301230.0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),...,Quinta dos Avidagos,15,2011,0,0,0,0,(Douro),"10,347,892",92391.0
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),...,Rainstorm,14,2013,1,0,0,0,(Willamette Valley),"333,022,386",9372610.0

In [213]:
cleared_data['year'] = pd.to_datetime(cleared_data['year'], errors = 'coerce')

In [214]:
cleared_data.head(1)

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,...,winery,price_round,year,is_usa,is_france,is_italy,old_wine,locality,population,area_country
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),...,Nicosia,35,2013-01-01,0,0,1,0,(Etna),"59,097,904",301230.0

In [215]:
cleared_data['years_diff'] = (pd.to_datetime('2022-01-12') - cleared_data['year']).dt.days

In [216]:
cleared_data.head(2)

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,...,price_round,year,is_usa,is_france,is_italy,old_wine,locality,population,area_country,years_diff
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),...,35,2013-01-01,0,0,1,0,(Etna),"59,097,904",301230.0,3298.0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),...,15,2011-01-01,0,0,0,0,(Douro),"10,347,892",92391.0,4029.0

In [217]:
cleared_data['years_diff'].max()

98627.0

5. Кодирование признаков. Методы

In [218]:
# инициализируем информацию об одежде
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
]

clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])
clothing

  size   type
0  xxs  dress
1  xxs  skirt
2   xs  dress
3    s  skirt
4    m  dress
5    l  shirt
6    s   coat
7    m   coat
8  xxl  shirt
9    l  dress

In [219]:
# создаем объект OrdinalEncoder, col - имя столбца, mapping - словарь с описанием кодировки
ord_encoder = ce.OrdinalEncoder(mapping=[{
	'col': 'size',
	'mapping': {'xxs': 1, 'xs': 2, 's': 3, 
                'm': 4, 'l': 5, 'xxl': 6}
}])
# применяем трансформацию к столбцу
data_bin = ord_encoder.fit_transform(clothing[['size']])
# добавляем результат к исходному DataFrame
clothing = pd.concat([clothing, data_bin], axis=1)

clothing

   size   type  size
0   xxs  dress     1
1   xxs  skirt     1
2    xs  dress     2
3     s  skirt     3
4     m  dress     4
5     l  shirt     5
6     s   coat     3
7     m   coat     4
8   xxl  shirt     6
9     l  dress     5

In [220]:
cleared_data['year'].unique()

<DatetimeArray>
['2013-01-01 00:00:00', '2011-01-01 00:00:00', '2012-01-01 00:00:00',
 '2010-01-01 00:00:00', '2007-01-01 00:00:00', '2009-01-01 00:00:00',
 '2008-01-01 00:00:00', '2014-01-01 00:00:00', '2015-01-01 00:00:00',
                 'NaT', '2016-01-01 00:00:00', '2004-01-01 00:00:00',
 '2003-01-01 00:00:00', '2006-01-01 00:00:00', '2001-01-01 00:00:00',
 '2005-01-01 00:00:00', '2002-01-01 00:00:00', '1887-01-01 00:00:00',
 '2000-01-01 00:00:00', '1999-01-01 00:00:00', '1991-01-01 00:00:00',
 '1997-01-01 00:00:00', '1996-01-01 00:00:00', '1877-01-01 00:00:00',
 '2017-01-01 00:00:00', '1995-01-01 00:00:00', '1872-01-01 00:00:00',
 '1868-01-01 00:00:00', '1898-01-01 00:00:00', '1998-01-01 00:00:00',
 '1852-01-01 00:00:00', '1994-01-01 00:00:00', '1992-01-01 00:00:00',
 '1840-01-01 00:00:00', '1929-01-01 00:00:00', '1912-01-01 00:00:00',
 '1875-01-01 00:00:00', '1976-01-01 00:00:00', '1964-01-01 00:00:00',
 '1848-01-01 00:00:00', '1870-01-01 00:00:00', '1856-01-01 00:00:00',
 '1983-01-01 00:00:00', '1967-01-01 00:00:00', '1990-01-01 00:00:00',
 '1988-01-01 00:00:00', '1827-01-01 00:00:00', '1860-01-01 00:00:00',
 '1850-01-01 00:00:00', '1980-01-01 00:00:00', '1987-01-01 00:00:00',
 '1989-01-01 00:00:00', '1993-01-01 00:00:00', '1969-01-01 00:00:00',
 '1882-01-01 00:00:00', '1935-01-01 00:00:00', '1821-01-01 00:00:00',
 '1973-01-01 00:00:00', '1978-01-01 00:00:00', '1965-01-01 00:00:00',
 '1968-01-01 00:00:00', '1947-01-01 00:00:00', '1963-01-01 00:00:00',
 '1985-01-01 00:00:00', '1927-01-01 00:00:00', '1904-01-01 00:00:00',
 '1847-01-01 00:00:00', '1982-01-01 00:00:00', '1986-01-01 00:00:00',
 '1752-01-01 00:00:00', '1789-01-01 00:00:00', '1919-01-01 00:00:00',
 '1957-01-01 00:00:00', '1966-01-01 00:00:00', '1984-01-01 00:00:00',
 '1961-01-01 00:00:00', '1845-01-01 00:00:00', '1952-01-01 00:00:00',
 '1941-01-01 00:00:00', '1974-01-01 00:00:00', '1934-01-01 00:00:00',
 '1945-01-01 00:00:00']
Length: 82, dtype: datetime64[ns]

In [221]:
ord_encoder = ce.OrdinalEncoder()
year_col = ord_encoder.fit_transform(cleared_data['year'])
cleared_data = pd.concat([cleared_data, year_col], axis=1)

Warning: No categorical columns found. Calling 'transform' will only return input data.

In [222]:
cleared_data.head(3)

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,...,year,is_usa,is_france,is_italy,old_wine,locality,population,area_country,years_diff,year
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),...,2013-01-01,0,0,1,0,(Etna),"59,097,904",301230.0,3298.0,2013-01-01
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),...,2011-01-01,0,0,0,0,(Douro),"10,347,892",92391.0,4029.0,2011-01-01
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),...,2013-01-01,1,0,0,0,(Willamette Valley),"333,022,386",9372610.0,3298.0,2013-01-01

In [223]:
encoder = ce.OneHotEncoder(cols=['type'], use_cat_names=True) # указываем столбец для кодирования
type_bin = encoder.fit_transform(clothing['type'])
clothing = pd.concat([clothing, type_bin], axis=1)

clothing

   size   type  size  type_dress  type_skirt  type_shirt  type_coat
0   xxs  dress     1           1           0           0          0
1   xxs  skirt     1           0           1           0          0
2    xs  dress     2           1           0           0          0
3     s  skirt     3           0           1           0          0
4     m  dress     4           1           0           0          0
5     l  shirt     5           0           0           1          0
6     s   coat     3           0           0           0          1
7     m   coat     4           0           0           0          1
8   xxl  shirt     6           0           0           1          0
9     l  dress     5           1           0           0          0

In [224]:
clothing_dummies = pd.get_dummies(clothing, columns=['type'])
clothing_dummies

,size,size,type_dress,type_skirt,type_shirt,type_coat,type_coat,type_dress,type_shirt,type_skirt
0,xxs,1,1,0,0,0,False,True,False,False
1,xxs,1,0,1,0,0,False,False,False,True
2,xs,2,1,0,0,0,False,True,False,False
3,s,3,0,1,0,0,False,False,False,True
4,m,4,1,0,0,0,False,True,False,False
5,l,5,0,0,1,0,False,False,True,False
6,s,3,0,0,0,1,True,False,False,False
7,m,4,0,0,0,1,True,False,False,False
8,xxl,6,0,0,1,0,False,False,True,False
9,l,5,1,0,0,0,False,True,False,False

In [225]:
# В нашем наборе данных винных обзоров признак, обозначающий имя сомелье (taster_name), является номинальным. Закодируйте его, используя One-Hot Encoding.

# В ответе напишите, сколько признаков добавилось после применения кодирования.
encoder = ce.OneHotEncoder(cols=['taster_name'], use_cat_names=True) # указываем столбец для кодирования
type_bin = encoder.fit_transform(cleared_data['taster_name'])
cleared_data_dummy = pd.concat([cleared_data, type_bin], axis=1)

In [226]:
cleared_data_dummy.shape[1] - cleared_data.shape[1]

20

In [227]:
bin_encoder = ce.BinaryEncoder(cols=['type']) # указываем столбец для кодирования
type_bin = bin_encoder.fit_transform(clothing['type'])
clothing = pd.concat([clothing, type_bin], axis=1)

clothing

,size,type,size,type_dress,type_skirt,type_shirt,type_coat,type_0,type_1,type_2
0,xxs,dress,1,1,0,0,0,0,0,1
1,xxs,skirt,1,0,1,0,0,0,1,0
2,xs,dress,2,1,0,0,0,0,0,1
3,s,skirt,3,0,1,0,0,0,1,0
4,m,dress,4,1,0,0,0,0,0,1
5,l,shirt,5,0,0,1,0,0,1,1
6,s,coat,3,0,0,0,1,1,0,0
7,m,coat,4,0,0,0,1,1,0,0
8,xxl,shirt,6,0,0,1,0,0,1,1
9,l,dress,5,1,0,0,0,0,0,1

In [228]:
# Закодируйте признак country двоичным способом.

# Сколько новых признаков образовалось после кодирования признака country?
bin_encoder = ce.BinaryEncoder(cols=['country']) # указываем столбец для кодирования
type_bin = bin_encoder.fit_transform(cleared_data['country'])
cleared_data_binary = pd.concat([cleared_data, type_bin], axis=1)
cleared_data_binary.shape[1] - cleared_data.shape[1]

6

In [229]:
# На основе изученного материала определите подходящий способ кодирования признака taster_twitter_handle из датасета винных обзоров и закодируйте его.

# В ответе напишите, сколько признаков добавилось после применения кодирования.
bin_encoder = ce.BinaryEncoder(cols=['taster_twitter_handle']) # указываем столбец для кодирования
type_bin = bin_encoder.fit_transform(cleared_data['taster_twitter_handle'])
cleared_data_binary = pd.concat([cleared_data, type_bin], axis=1)
cleared_data_binary.shape[1] - cleared_data.shape[1]

5

In [231]:
# Используйте следующий датафрейм для задания:

list_of_dicts = [
 {'product': 'Product1', 'price': 1200, 'payment_type': 'Mastercard'},
 {'product': 'Product2', 'price': 3600, 'payment_type': 'Visa'},
 {'product': 'Product3', 'price': 7500, 'payment_type': 'Amex'}
]
df = pd.DataFrame(list_of_dicts)
# Определите типы признаков и закодируйте их в соответствии с изученными способами.

In [239]:
encoder = ce.OneHotEncoder(cols=['product', 'payment_type'], use_cat_names=True) # указываем столбец для кодирования
type_bin = encoder.fit_transform(df[['product', 'payment_type']])
df = pd.concat([df, type_bin], axis=1)
df

,product,price,payment_type,product_Product1,product_Product2,product_Product3,payment_type_Mastercard,payment_type_Visa,payment_type_Amex
0,Product1,1200,Mastercard,1,0,0,1,0,0
1,Product2,3600,Visa,0,1,0,0,1,0
2,Product3,7500,Amex,0,0,1,0,0,1