In [191]:
import pandas as pd

2. Создание признаков

In [192]:
cleared_data = pd.read_csv('data/wine_cleared.zip', index_col=0)

In [193]:
display(cleared_data.head(3))

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [194]:
# для удобства сразу преобразуем признак в int
cleared_data['price_round'] = cleared_data['price'].round().astype(int)

In [195]:
cleared_data.head(2)

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,35
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,15

In [196]:
regex = '\d{4}' # регулярное выражение для нахождения чисел
cleared_data['year'] = cleared_data['title'].str.findall(regex).str.get(0)

In [197]:
display(cleared_data.head(3))

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round,year
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,35,2013
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,15,2011
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,14,2013

In [198]:
cleared_data['is_usa'] = cleared_data['country'].apply(lambda x: 1 if x == 'US' else 0)

In [199]:
display(cleared_data.head(3))

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round,year,is_usa
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,35,2013,0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,15,2011,0
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,14,2013,1

In [200]:
cleared_data.groupby('country').count().sort_values(by='designation', ascending=False).head(3)

,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round,year,is_usa
country,,,,,,,,,,,,,,
US,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504,54504,53585,54504
France,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093,22093,20511,22093
Italy,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540,19540,18550,19540

In [201]:
cleared_data['is_france'] = cleared_data['country'].apply(lambda x: 1 if x == 'France' else 0)
cleared_data['is_italy'] = cleared_data['country'].apply(lambda x: 1 if x == 'Italy' else 0)

In [202]:
display(cleared_data['is_france'].sum())
display(cleared_data['is_italy'].sum())

22093

19540

In [203]:
cleared_data['year'].isna().sum()

4609

In [204]:
cleared_data['old_wine'] = cleared_data['year'].apply(lambda x: 1 if type(x)==str and int(x) < 2010 else 0)

In [205]:
cleared_data['old_wine'].sum()

39781

In [206]:
cleared_data['locality'] = cleared_data['title'].str.findall('\([\w ]+\)').str.get(0)
display(cleared_data[['title', 'locality']])

,title,locality
0,Nicosia 2013 Vulkà Bianco (Etna),(Etna)
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),(Douro)
2,Rainstorm 2013 Pinot Gris (Willamette Valley),(Willamette Valley)
3,St. Julian 2013 Reserve Late Harvest Riesling ...,(Lake Michigan Shore)
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,(Willamette Valley)
...,...,...
129966,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,(Mosel)
129967,Citation 2004 Pinot Noir (Oregon),(Oregon)
129968,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,(Alsace)
129969,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),(Alsace)
129970,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,(Alsace)

In [207]:
cleared_data['locality'][129966]

'(Mosel)'

3. Создание признаков. Внешние источники данных

In [208]:
country_population = pd.read_csv('data/country_population.zip', sep=';')

In [209]:
country_population.head(3)

  country     population
0   China  1,411,778,724
1   India  1,386,584,581
2      US    333,022,386

In [210]:
# Каково население Италии согласно датасету country_population? Ответ вводите без пробелов и запятых.
country_population[country_population['country'] == 'Italy']['population']

24    59,097,904
Name: population, dtype: object

In [211]:
cleared_data = cleared_data.join(country_population.set_index('country'), on='country')

In [212]:
country_area = pd.read_csv('data/country_area.zip', sep=';')
country_area

          country         area
0          Russia  17075400.00
1          Canada   9984670.00
2           China   9596960.00
3              US   9372610.00
4          Brazil   8547000.00
..            ...          ...
188    San Marino        61.00
189        Tuvalu        26.00
190         Nauru        21.00
191        Monaco         2.00
192  Vatican City         0.44

[193 rows x 2 columns]

In [213]:
cleared_data = cleared_data.join(country_area.set_index('country'), on='country')
cleared_data = cleared_data.rename(columns={'area': 'area_country'})
cleared_data

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,...,winery,price_round,year,is_usa,is_france,is_italy,old_wine,locality,population,area_country
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),...,Nicosia,35,2013,0,0,1,0,(Etna),"59,097,904",301230.0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),...,Quinta dos Avidagos,15,2011,0,0,0,0,(Douro),"10,347,892",92391.0
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),...,Rainstorm,14,2013,1,0,0,0,(Willamette Valley),"333,022,386",9372610.0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,Alexander Peartree,unknown,St. Julian 2013 Reserve Late Harvest Riesling ...,...,St. Julian,13,2013,1,0,0,0,(Lake Michigan Shore),"333,022,386",9372610.0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,...,Sweet Cheeks,65,2012,1,0,0,0,(Willamette Valley),"333,022,386",9372610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.000000,Mosel,unknown,Anna Lee C. Iijima,unknown,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,...,Dr. H. Thanisch (Erben Müller-Burggraef),28,2013,0,0,0,0,(Mosel),"83,129,285",357022.0
129967,US,Citation is given as much as a decade of bottl...,unknown,90,75.000000,Oregon,Oregon,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),...,Citation,75,2004,1,0,0,1,(Oregon),"333,022,386",9372610.0
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,...,Domaine Gresser,30,2013,0,1,0,0,(Alsace),"68,035,000",547030.0
129969,France,"A dry style of Pinot Gris, this is crisp with ...",unknown,90,32.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),...,Domaine Marcel Deiss,32,2012,0,1,0,0,(Alsace),"68,035,000",547030.0
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,...,Domaine Schoffit,21,2012,0,1,0,0,(Alsace),"68,035,000",547030.0

In [222]:
# Создайте новый признак area_country — площадь страны, аналогичный признаку population.

# Какая площадь страны у вина под названием 'Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))'? Ответ вводите без пробелов, округлите до целых.
cleared_data[cleared_data['title'] == 'Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))']['area_country']

94    9372610.0
Name: area_country, dtype: float64