In [1]:
import pandas as pd
import plotly.express as px

In [2]:
data = pd.read_csv('data/solarpower.zip')

In [3]:
data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [4]:
display(data[data['cum_power']==-1])
display

           date  cum_power
45   2017-02-15       -1.0
647  2018-10-10       -1.0

In [5]:
indexes = data[data['cum_power']==-1].index
for ind in indexes:
    data['cum_power'][ind] = (data['cum_power'][ind-1]+data['cum_power'][ind+1])/2

C:\Users\zhigu\AppData\Local\Temp\ipykernel_21712\701036378.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['cum_power'][ind] = (data['cum_power'][ind-1]+data['cum_power'][ind+1])/2
C:\Users\zhigu\AppData\Local\Temp\ipykernel_21712\701036378.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cum_power'][ind] = (data['cum_power'][ind-1]+data['cum_power'][ind+1])/2
C:\Users\zhigu\AppData\Local\Temp\ipykernel_21712\701036378.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['cum_power'][ind] = (data['cum_power'][ind-1]+data['cum_power'][ind+1])/2
C:\Users\zhigu\AppData\Local\Temp\ipykernel_21712\701036378.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cum_power'][ind] = (data['cum_power'][ind-1]+data['cum_power'][ind+1])/2

In [6]:
data['date'] = pd.to_datetime(data['date'])

In [7]:
data['date']

0     2017-01-01
1     2017-01-02
2     2017-01-03
3     2017-01-04
4     2017-01-05
         ...
659   2018-10-22
660   2018-10-23
661   2018-10-24
662   2018-10-25
663   2018-10-26
Name: date, Length: 664, dtype: datetime64[ns]

In [8]:
data['month'] =data['date'].dt.month
data['year'] =data['date'].dt.year
data['day'] =data['date'].dt.day

In [9]:
data['day_power'] = data['cum_power'].diff()

In [10]:
data

          date  cum_power  month  year  day  day_power
0   2017-01-01    20111.0      1  2017    1        NaN
1   2017-01-02    20112.0      1  2017    2        1.0
2   2017-01-03    20115.0      1  2017    3        3.0
3   2017-01-04    20117.0      1  2017    4        2.0
4   2017-01-05    20119.0      1  2017    5        2.0
..         ...        ...    ...   ...  ...        ...
659 2018-10-22    28101.0     10  2018   22        6.0
660 2018-10-23    28109.0     10  2018   23        8.0
661 2018-10-24    28115.0     10  2018   24        6.0
662 2018-10-25    28117.0     10  2018   25        2.0
663 2018-10-26    28120.0     10  2018   26        3.0

[664 rows x 6 columns]

In [11]:
mean_data = data.groupby(by=['year', 'month'])['day_power'].mean()

In [12]:
mean_data.to_frame()

            day_power
year month
2017 1       3.233333
     2       3.714286
     3      10.774194
     4      16.300000
     5      19.000000
     6      21.500000
     7      18.129032
     8      15.064516
     9      11.533333
     10      6.419355
     11      3.233333
     12      1.161290
2018 1       2.064516
     2       6.928571
     3       8.709677
     4      14.633333
     5      21.032258
     6      18.766667
     7      22.000000
     8      17.096774
     9      13.866667
     10      9.000000

In [13]:
mean_data.info()
mean_data = mean_data.to_frame()

<class 'pandas.core.series.Series'>
MultiIndex: 22 entries, (2017, 1) to (2018, 10)
Series name: day_power
Non-Null Count  Dtype
--------------  -----
22 non-null     float64
dtypes: float64(1)
memory usage: 383.0 bytes

In [14]:
mean_data['time'] =mean_data.index

In [15]:
mean_data.reset_index(drop=True, inplace=True)

In [16]:
mean_data['year'] = mean_data['time'].apply(lambda x: str(x[0]) + '-' + str(x[1]))

In [17]:
mean_data['year'] = pd.to_datetime(mean_data['year'])

In [18]:
mean_data

    day_power        time       year
0    3.233333   (2017, 1) 2017-01-01
1    3.714286   (2017, 2) 2017-02-01
2   10.774194   (2017, 3) 2017-03-01
3   16.300000   (2017, 4) 2017-04-01
4   19.000000   (2017, 5) 2017-05-01
5   21.500000   (2017, 6) 2017-06-01
6   18.129032   (2017, 7) 2017-07-01
7   15.064516   (2017, 8) 2017-08-01
8   11.533333   (2017, 9) 2017-09-01
9    6.419355  (2017, 10) 2017-10-01
10   3.233333  (2017, 11) 2017-11-01
11   1.161290  (2017, 12) 2017-12-01
12   2.064516   (2018, 1) 2018-01-01
13   6.928571   (2018, 2) 2018-02-01
14   8.709677   (2018, 3) 2018-03-01
15  14.633333   (2018, 4) 2018-04-01
16  21.032258   (2018, 5) 2018-05-01
17  18.766667   (2018, 6) 2018-06-01
18  22.000000   (2018, 7) 2018-07-01
19  17.096774   (2018, 8) 2018-08-01
20  13.866667   (2018, 9) 2018-09-01
21   9.000000  (2018, 10) 2018-10-01

In [19]:
fig = px.line(
            mean_data, 
            x='year',
            y='day_power',
            # labels={'price_doc':'Цена объекта недвижимости', 'ecology': 'Экологическая обстановка'},
            title='Зависимость цены жилья от экологической обстановки',
            # color ='ecology'
            )

fig.show()