4. Знакомство с данными: винные обзоры

In [23]:
import pandas as pd

In [24]:
data = pd.read_csv('data/wine.csv')

In [25]:
data.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [26]:
# Сколько всего дегустаторов приняло участие в винных обзорах?
data['taster_name'].nunique()

19

In [27]:
# Какова максимальная цена за бутылку в этом наборе данных? Введите целое число.
data['price'].max()

3300.0

In [28]:
#Проанализируйте представленный датасет и перечислите все числовые признаки через запятую.
data.describe().columns

Index(['points', 'price'], dtype='object')

In [29]:
# Проанализируйте датасет на наличие дублирующихся винных обзоров. Если дублирующиеся записи есть, удалите их.

# В поле ниже введите, сколько дублирующихся записей вам удалось обнаружить.
data.duplicated().sum()
data = data.drop_duplicates()
data.duplicated().sum()

0

In [30]:
#Проверьте датасет на наличие пропусков в данных.

#В каких из представленных признаках были обнаружены пропуски?

data.isna().sum()

country                     59
description                  0
designation              34545
points                       0
price                     8395
province                    59
region_1                 19560
region_2                 73219
taster_name              24917
taster_twitter_handle    29446
title                        0
variety                      1
winery                       0
dtype: int64

In [31]:
# Обработайте пропущенные значения в наборе данных любым известным вам способом, который вы изучили в модуле PYTHON-14. Очистка данных.

# Воспользуйтесь правилами:

# Если какой-то из признаков имеет более 30-40 % пропусков, лучше избавьтесь от него: его заполнение может привести к сильному искажению общего распределения, а удаление записей — к большой утрате данных.
# Заполняйте данные с умом! Если перед вами количественный признак, то использование нецелого числа в качестве константы является как минимум нелогичным.
# Вы можете оставить пропуски как есть, просто заменив их на какой-то специальный символ. Например, для числовых неотрицательных признаков можно использовать число -1, а для категориальных — строку 'unknown'.

drop_data = data.copy()
#задаем минимальный порог: вычисляем 70% от числа строк
thresh = drop_data.shape[0]*0.7
#удаляем столбцы, в которых более 30% (100-70) пропусков
drop_data = drop_data.dropna(thresh=thresh, axis=1)

drop_data.isnull().mean()

country                  0.000492
description              0.000000
designation              0.287904
points                   0.000000
price                    0.069965
province                 0.000492
region_1                 0.163016
taster_name              0.207662
taster_twitter_handle    0.245408
title                    0.000000
variety                  0.000008
winery                   0.000000
dtype: float64

In [32]:
drop_data.describe()

              points          price
count  119988.000000  111593.000000
mean       88.442236      35.620747
std         3.092915      42.103728
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [35]:
drop_data['country'] = drop_data['country'].fillna('unknown')
drop_data['designation'] = drop_data['designation'].fillna('unknown')
drop_data['price'] = drop_data['price'].fillna(drop_data['price'].mean())
drop_data['province'] = drop_data['province'].fillna('unknown')
drop_data['region_1'] = drop_data['region_1'].fillna('unknown')
drop_data['taster_name'] = drop_data['taster_name'].fillna(drop_data['taster_name'].mode()[0])
drop_data['taster_twitter_handle'] = drop_data['taster_twitter_handle'].fillna(drop_data['taster_twitter_handle'].mode()[0])
drop_data.isnull().mean()

country                  0.000000
description              0.000000
designation              0.000000
points                   0.000000
price                    0.000000
province                 0.000000
region_1                 0.000000
taster_name              0.000000
taster_twitter_handle    0.000000
title                    0.000000
variety                  0.000008
winery                   0.000000
dtype: float64

Эталонное решене

In [36]:
df = data.drop(['region_2'], axis=1)
# обрабатываем пропуски в категориальных признаках самым простым вариантом, замена на unknown

df['designation'] = df['designation'].fillna('unknown')
df['region_1'] = df['region_1'].fillna('unknown')
df['taster_name'] = df['taster_name'].fillna('unknown')
df['taster_twitter_handle'] = df['taster_twitter_handle'].fillna('unknown')

# признаки с маленьким количеством пропусков заменим на самые частовречающиеся значения
df['country'] = df['country'].fillna('US')
df['price'] = df['price'].fillna(df['price'].mean())
df['province'] = df['province'].fillna('California')
df['variety'] = df['variety'].fillna('Pinot Noir')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119988 entries, 0 to 129970
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                119988 non-null  object
 1   description            119988 non-null  object
 2   designation            119988 non-null  object
 3   points                 119988 non-null  int64
 4   price                  119988 non-null  float64
 5   province               119988 non-null  object
 6   region_1               119988 non-null  object
 7   taster_name            119988 non-null  object
 8   taster_twitter_handle  119988 non-null  object
 9   title                  119988 non-null  object
 10  variety                119988 non-null  object
 11  winery                 119988 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 11.9+ MB