In [1]:
import pandas as pd 
import collections as col

In [2]:
citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citibike_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [3]:
citibike_tripdata['starttime']

0         2018-09-01 00:00:05.2690
1         2018-09-01 00:00:11.2810
2         2018-09-01 00:00:20.6490
3         2018-09-01 00:00:21.7460
4         2018-09-01 00:00:27.3150
                    ...
299995    2018-09-05 19:08:27.8460
299996    2018-09-05 19:08:28.3700
299997    2018-09-05 19:08:27.5090
299998    2018-09-05 19:08:29.2300
299999    2018-09-05 19:08:29.7110
Name: starttime, Length: 300000, dtype: object

In [4]:
col.Counter(citibike_tripdata['start station id'].notna())

Counter({True: 299831, False: 169})

In [5]:
citibike_tripdata['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [6]:
citibike_tripdata['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [7]:
citibike_tripdata['usertype'].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

In [8]:
citibike_tripdata['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [9]:
display(citibike_tripdata['start station id'].nunique()==citibike_tripdata['end station id'].nunique())
display(abs(citibike_tripdata['birth year'].max()-2018))
display(citibike_tripdata['start station name'].value_counts().nsmallest(1))
display(citibike_tripdata['end station name'].value_counts().nlargest(1))

False

16

start station name
Eastern Pkwy & Washington Ave    6
Name: count, dtype: int64

end station name
West St & Chambers St    1963
Name: count, dtype: int64

In [30]:
citibike_tripdata=citibike_tripdata.drop(['start station id', 'end station id'], axis=1)

In [33]:
citibike_tripdata['age']=citibike_tripdata['birth year'].apply(lambda x: 2018-x)
citibike_tripdata['age']
citibike_tripdata=citibike_tripdata.drop('birth year', axis=1)

In [34]:
citibike_tripdata[citibike_tripdata['age']>60].count()

starttime                  11837
stoptime                   11837
start station name         11837
start station latitude     11837
start station longitude    11837
end station name           11837
end station latitude       11837
end station longitude      11837
bikeid                     11837
usertype                   11837
gender                     11837
age                        11837
dtype: int64

In [38]:
citibike_tripdata['starttime']=pd.to_datetime(citibike_tripdata['starttime'])
citibike_tripdata['stoptime']=pd.to_datetime(citibike_tripdata['stoptime'])

In [39]:
citibike_tripdata['trip duration']=citibike_tripdata['stoptime']-citibike_tripdata['starttime']

In [41]:
citibike_tripdata['trip duration'][3]

Timedelta('0 days 00:07:16.837000')

In [42]:
day_of_week = citibike_tripdata['starttime'].dt.day_of_week

In [45]:
citibike_tripdata['weekend'] = day_of_week.apply(lambda x: 1 if x in [5,6] else 0)
citibike_tripdata[citibike_tripdata['weekend']==1].count()

starttime                  115135
stoptime                   115135
start station name         115057
start station latitude     115135
start station longitude    115135
end station name           115057
end station latitude       115135
end station longitude      115135
bikeid                     115135
usertype                   115135
gender                     115135
age                        115135
trip duration              115135
weekend                    115135
dtype: int64

In [50]:
def day_time(t):
    t = t.hour
    if 0 <= t <=6:
        return 'night'
    elif 6 < t <=12:
       return 'morning' 
    elif 12 < t <=18:
       return 'day' 
    else:
        return 'evening'

In [51]:
citibike_tripdata['time_of_day']=citibike_tripdata['starttime'].apply(day_time)

In [62]:
citibike_tripdata[citibike_tripdata['time_of_day']=='day'].shape[0]/citibike_tripdata[citibike_tripdata['time_of_day']=='night'].shape[0]

9.480411004308916