In [1]:
import pandas as pd

s = pd.Series(
    ["Разруха не в клозетах, а в головах. ",
     "Люди как люди. Любят деньги, но ведь это всегда было.",
     "Там хорошо, где нас нет: в прошлом нас уже нет, и оно кажется прекрасным.",
     "Нет силы более могучей, чем знание; человек, вооружённый знанием, — непобедим."
     ],
    dtype="string"
)

In [6]:
s

0                 Разруха не в клозетах, а в головах.
1    Люди как люди. Любят деньги, но ведь это всегд...
2    Там хорошо, где нас нет: в прошлом нас уже нет...
3    Нет силы более могучей, чем знание; человек, в...
dtype: string

In [7]:
import string

# Создаем множество из символов пунктуации
exclude = set(string.punctuation)

# Заменяем символы пунктуации на пустые строки
s = s.str.replace(f'[{string.punctuation}]', '', regex=True)
# Приводим тексты к нижнему регистру
s = s.str.upper()
# Разделяем тексты по пробелу
s = s.str.split(' ')
print(s)

0          [РАЗРУХА, НЕ, В, КЛОЗЕТАХ, А, В, ГОЛОВАХ, ]
1    [ЛЮДИ, КАК, ЛЮДИ, ЛЮБЯТ, ДЕНЬГИ, НО, ВЕДЬ, ЭТО...
2    [ТАМ, ХОРОШО, ГДЕ, НАС, НЕТ, В, ПРОШЛОМ, НАС, ...
3    [НЕТ, СИЛЫ, БОЛЕЕ, МОГУЧЕЙ, ЧЕМ, ЗНАНИЕ, ЧЕЛОВ...
dtype: object

In [9]:
import pandas as pd
import string
import pymorphy2
from nltk.corpus import stopwords

morpher = pymorphy2.MorphAnalyzer()

stop_words = set(stopwords.words('russian'))
sw = set(stop_words)

def preprocess_txt(line):
    # Почистим строку от пунктуации. Для этого пробежимся по каждому символу и проверим, не является ли он знаком пунктуации
    exclude = set(string.punctuation)
    spls = "".join(i for i in line.strip() if i not in exclude).split()
    # Лемматизируем все слова в нашем тексте
    spls = [morpher.parse(i.lower())[0].normal_form for i in spls]
    spls = [i for i in spls if i not in sw and i != ""]
    return spls

AttributeError: module 'inspect' has no attribute 'getargspec'

In [10]:
s = pd.Series(
    ["Разруха не в клозетах, а в головах. ",
     "Люди как люди. Любят деньги, но ведь это всегда было.",
     "Там хорошо, где нас нет: в прошлом нас уже нет, и оно кажется прекрасным.",
     "Нет силы более могучей, чем знание; человек, вооружённый знанием, — непобедим."
     ],
    dtype="string"
)

# Применяем функцию для предобработки к Series
s = s.apply(lambda x: preprocess_txt(x))
print(s)

NameError: name 'preprocess_txt' is not defined

In [11]:
documents = ["I like this movie, it's funny.", 'I hate this movie.', 'This was awesome! I like it.', 'Nice one. I love it.']

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

count_vectorizer = CountVectorizer()

# Создаем the Bag-of-Words модель
bag_of_words = count_vectorizer.fit_transform(documents)

# Отобразим Bag-of-Words модель как DataFrame
feature_names = count_vectorizer.get_feature_names_out()
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

   awesome  funny  hate  it  like  love  movie  nice  one  this  was
0        0      1     0   1     1     0      1     0    0     1    0
1        0      0     1   0     0     0      1     0    0     1    0
2        1      0     0   1     1     0      0     0    0     1    1
3        0      0     0   1     0     1      0     1    1     0    0

In [13]:
from nltk.util import ngrams
text = "I like this movie, it's funny. I hate this movie. This was awesome! I like it. Nice one. I love it."
tokenized = text.split()
bigrams = ngrams(tokenized, 2)

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

document = ["I like this movie, it's funny.", 'I hate this movie.', 'This was awesome! I like it.', 'Nice one. I love it.']
tfidf_vectorizer = TfidfVectorizer()
values = tfidf_vectorizer.fit_transform(document)
# Show the Model as a pandas DataFrame
feature_names = tfidf_vectorizer.get_feature_names_out()
pd.DataFrame(values.toarray(), columns = feature_names)

,awesome,funny,hate,it,like,love,movie,nice,one,this,was
0,0.000000,0.571848,0.000000,0.365003,0.450852,0.000000,0.450852,0.000000,0.000000,0.365003,0.000000
1,0.000000,0.000000,0.702035,0.000000,0.000000,0.000000,0.553492,0.000000,0.000000,0.448100,0.000000
2,0.539445,0.000000,0.000000,0.344321,0.425305,0.000000,0.000000,0.000000,0.000000,0.344321,0.539445
3,0.000000,0.000000,0.000000,0.345783,0.000000,0.541736,0.000000,0.541736,0.541736,0.000000,0.000000

In [16]:
from sklearn.feature_extraction.text import HashingVectorizer
document = ["I like this movie, it's funny.", 'I hate this movie.', 'This was awesome! I like it.', 'Nice one. I love it.']
vectorizer = HashingVectorizer(n_features=2**4)
values = vectorizer.fit_transform(document)
values

<4x16 sparse matrix of type '<class 'numpy.float64'>'
	with 14 stored elements in Compressed Sparse Row format>

In [1]:
import gensim.downloader as api
word_vectors = api.load("glove-wiki-gigaword-100")  # загрузим предтренированные вектора слов из gensim-data
# выведем слово наиболее близкое к 'woman', 'king' и далекое от 'man'
result = word_vectors.most_similar(positive=['woman', 'king'], negative=['man'])
print(word_vectors.doesnt_match("breakfast cereal dinner lunch".split()))

[==================================================] 100.0% 128.1/128.1MB downloaded
cereal

In [3]:
result

[('queen', 0.7698540687561035),
 ('monarch', 0.6843381524085999),
 ('throne', 0.6755736470222473),
 ('daughter', 0.6594556570053101),
 ('princess', 0.6520534157752991),
 ('prince', 0.6517034769058228),
 ('elizabeth', 0.6464517712593079),
 ('mother', 0.631171703338623),
 ('emperor', 0.6106470823287964),
 ('wife', 0.6098655462265015)]

In [2]:
similarity = word_vectors.similarity('woman', 'man')
print(similarity)

0.8323495

In [5]:
products = pd.read_csv('data/ProductsDataset.csv')
display(products)

,title,descrirption,product_id,category_id,subcategory_id,properties,image_links
0,Юбка детская ORBY,"Новая, не носили ни разу. В реале красивей чем...",58e3cfe6132ca50e053f5f82,22.0,2211,"{'detskie_razmer_rost': '81-86 (1,5 года)'}",http://cache3.youla.io/files/images/360_360/58...
1,Ботильоны,"Новые,привезены из Чехии ,указан размер 40,но ...",5667531b2b7f8d127d838c34,9.0,902,"{'zhenskaya_odezhda_tzvet': 'Зеленый', 'visota...",http://cache3.youla.io/files/images/360_360/5b...
2,Брюки,Размер 40-42. Брюки почти новые - не знаю как ...,59534826aaab284cba337e06,9.0,906,{'zhenskaya_odezhda_dzhinsy_bryuki_tip': 'Брюк...,http://cache3.youla.io/files/images/360_360/59...
3,Продам детские шапки,"Продам шапки,кажда 200р.Розовая и белая проданны.",57de544096ad842e26de8027,22.0,2217,"{'detskie_pol': 'Девочкам', 'detskaya_odezhda_...",http://cache3.youla.io/files/images/360_360/57...
4,Блузка,"Темно-синяя, 42 размер,состояние отличное,как ...",5ad4d2626c86cb168d212022,9.0,907,"{'zhenskaya_odezhda_tzvet': 'Синий', 'zhenskay...",http://cache3.youla.io/files/images/360_360/5a...
...,...,...,...,...,...,...,...
35543,Юбка,Юбка Белая по.Турция фирма adL,5b5f181c62e1c6616a7f6472,9.0,904,"{'zhenskaya_odezhda_platya_yubki_tip': 'Юбки',...",http://cache3.youla.io/files/images/360_360/5b...
35544,Новый твидовый пиджак,Новый с бирками пиджак размер S в стиле Coco C...,5bd6c8b29e94ba033d31f8d0,9.0,908,"{'brand_zhenskii': 'Chanel', 'zhenskaya_odezhd...",http://cache3.youla.io/files/images/360_360/5b...
35545,Женская зимняя куртка,Женская зимняя спортивная куртка фирмы Rossiqn...,5bd6c8bc074b3e1c056f69b2,9.0,903,"{'zhenskaya_odezhda_razmer': '48-50 (XL)', 'zh...",http://cache3.youla.io/files/images/360_360/5b...
35546,Новая золотая ветровка,Женская ветровка размер 44-46. Цвет приглушённ...,5bd6c8fb2138bbc55745362c,9.0,903,"{'zhenskaya_odezhda_razmer': '44-46 (М)', 'zhe...",http://cache3.youla.io/files/images/360_360/5b...
35547,Шарф,NaN,5bd6c8fbaaab283b79142a1f,9.0,914,{'zhenskaya_odezhda_aksessuary_tip': 'Шарфы и ...,http://cache3.youla.io/files/images/360_360/5b...

Размечаем вопросы для обучения классификатора.

In [ ]:
questiions = pd.DataFrame(questiion, columns='question')
questiions['label'] = questiions['question']