In [100]:
import pandas as pd

In [101]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [102]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [103]:
print(countries.loc['US'])

США

In [104]:
print(countries.loc[['US', 'RU', 'UK']])

US       США
RU    Россия
UK    Англия
Name: countries, dtype: object

In [105]:
print(countries.iloc[6])

Казахстан

In [106]:
print(countries.iloc[1:4])

CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [107]:
pd.Series(["Апельсин", "Киви", "Мандарин", "Яблоко"], name='fruits')

0    Апельсин
1        Киви
2    Мандарин
3      Яблоко
Name: fruits, dtype: object

In [108]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data.loc[15, 'Price'])
display(melb_data.loc[90, 'Date'])
display(round(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize']))

1310000.0

'10/09/2016'

3

In [109]:
display(melb_data.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [110]:
melb_data.tail(7)
melb_data.shape
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [111]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [112]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [113]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [114]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [115]:
melb_data['Regionname'].value_counts()

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

In [116]:
melb_data['Regionname'].value_counts(normalize=True)

Regionname
Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: proportion, dtype: float64

In [117]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
print(data.shape)

(3, 2)

In [118]:
import collections as col

my_var=melb_data['CouncilArea'].isnull()
col.Counter(my_var)

Counter({False: 12211, True: 1369})

In [119]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
col.Counter(melb_data.dtypes)

Counter({dtype('O'): 9, dtype('int64'): 8, dtype('float64'): 6})

In [120]:
display(melb_data['Price'].mean()/melb_data['Price'].median())
display(melb_data['Distance'].mean())
display(melb_data['BuildingArea'].mean())
display(melb_data['Distance'].min())

1.1912337535493698

10.13777614138439

139.63397229013256

0.0

In [121]:
display(col.Counter(melb_data['Regionname']))
display(col.Counter(melb_data['Coordinates']))
display(melb_data['Type'].value_counts(normalize=True))

Counter({'Southern Metropolitan': 4695,
         'Northern Metropolitan': 3890,
         'Western Metropolitan': 2948,
         'Eastern Metropolitan': 1471,
         'South-Eastern Metropolitan': 450,
         'Eastern Victoria': 53,
         'Northern Victoria': 41,
         'Western Victoria': 32})

Counter({'-37.8361, 144.9966': 12,
         '-37.8035, 144.985': 8,
         '-37.8424, 144.9449': 6,
         '-37.8415, 144.9412': 5,
         '-37.8127, 145.0094': 5,
         '-37.8231, 144.9906': 5,
         '-37.822, 145.0104': 5,
         '-37.8607, 145.0116': 4,
         '-37.8042, 144.9845': 4,
         '-37.7846, 144.9785': 4,
         '-37.7961, 144.9261': 4,
         '-37.8095, 144.9691': 4,
         '-37.8106, 144.9646': 4,
         '-37.8413, 144.8741': 4,
         '-37.8198, 145.005': 4,
         '-37.859, 144.9767': 4,
         '-37.8568, 144.9873': 4,
         '-37.8424, 145.0184': 4,
         '-37.83613, 144.99661': 4,
         '-37.8078, 144.9965': 3,
         '-37.7703, 144.9533': 3,
         '-37.7546, 144.9713': 3,
         '-37.7941, 144.9802': 3,
         '-37.7967, 144.9836': 3,
         '-37.7833, 144.9255': 3,
         '-37.7949, 144.9007': 3,
         '-37.7966, 144.9254': 3,
         '-37.8157, 144.9727': 3,
         '-37.8161, 145.1098': 3,
         '-37.8044, 144.9566': 3,
         '-37.7827, 144.9999': 3,
         '-37.7818, 144.9576': 3,
         '-37.8431, 144.9403': 3,
         '-37.8392, 144.9257': 3,
         '-37.8435, 144.9415': 3,
         '-37.851, 144.988': 3,
         '-37.7112, 144.9989': 3,
         '-37.8195, 145.0103': 3,
         '-37.8183, 144.9979': 3,
         '-37.8331, 144.9975': 3,
         '-37.8189, 145.0131': 3,
         '-37.833, 144.997': 3,
         '-37.8341, 144.9713': 3,
         '-37.8369, 144.968': 3,
         '-37.8453, 144.9849': 3,
         '-37.8406, 145.0035': 3,
         '-37.8267, 144.9687': 3,
         '-37.828, 144.9683': 3,
         '-37.8288, 144.9679': 3,
         '-37.8573, 144.9825': 3,
         '-37.8571, 144.987': 3,
         '-37.8562, 144.9844': 3,
         '-37.7542, 145.01': 3,
         '-37.8384, 145.0178': 3,
         '-37.8414, 145.0137': 3,
         '-37.8373, 145.0116': 3,
         '-37.8076, 144.9456': 3,
         '-37.8414, 145.0505': 3,
         '-37.8882, 145.0666': 3,
         '-37.9016, 145.0414': 3,
         '-37.8301, 144.9904': 3,
         '-37.78212, 144.95755': 3,
         '-37.8281, 144.96627': 3,
         '-37.8016, 144.9988': 2,
         '-37.8055, 144.9961': 2,
         '-37.7203, 144.8755': 2,
         '-37.8415, 144.9585': 2,
         '-37.7773, 145.0314': 2,
         '-37.8449, 144.85': 2,
         '-37.8543, 145.0262': 2,
         '-37.8552, 145.016': 2,
         '-37.8537, 145.0267': 2,
         '-37.8596, 145.0198': 2,
         '-37.8531, 145.0115': 2,
         '-37.8573, 145.0186': 2,
         '-37.7721, 144.9184': 2,
         '-37.7731, 144.9074': 2,
         '-37.7723, 144.9094': 2,
         '-37.8028, 145.0768': 2,
         '-37.7923, 145.1029': 2,
         '-37.7893, 145.092': 2,
         '-37.7841, 145.0953': 2,
         '-37.7868, 145.0677': 2,
         '-37.9245, 145.0336': 2,
         '-37.9155, 145.0243': 2,
         '-37.9181, 145.0586': 2,
         '-37.7908, 144.8485': 2,
         '-37.9097, 144.9914': 2,
         '-37.909, 145.0005': 2,
         '-37.9164, 145.0228': 2,
         '-37.762, 144.9647': 2,
         '-37.7634, 144.9616': 2,
         '-37.7775, 144.9607': 2,
         '-37.7687, 144.9649': 2,
         '-37.7686, 144.9421': 2,
         '-37.8479, 145.0958': 2,
         '-37.8255, 145.0592': 2,
         '-37.8912, 145.0644': 2,
         '-37.8972, 145.0642': 2,
         '-37.8893, 145.0589': 2,
         '-37.8858, 145.0632': 2,
         '-37.8982, 145.0625': 2,
         '-37.8936, 145.056': 2,
         '-37.8873, 145.0572': 2,
         '-37.8894, 145.0508': 2,
         '-37.7372, 144.9764': 2,
         '-37.7405, 144.9644': 2,
         '-37.7367, 144.9701': 2,
         '-37.8083, 144.9908': 2,
         '-37.802, 144.9848': 2,
         '-37.809, 144.9911': 2,
         '-37.796, 144.9911': 2,
         '-37.8889, 145.0043': 2,
         '-37.8822, 144.9994': 2,
         '-37.8791, 144.9923': 2,
         '-37.8857, 144.9884': 2,
         '-37.8818, 144.9918': 2,
         '-37.8831, 144.9855': 2,
         '-37.8838, 144.9853': 2,
         '-37.8749, 144.9799': 2,
         '-37.8895, 144.9902': 2,
         '-37.8753, 144.9902': 2,
         '-37.7547, 144.9107': 2,
         '-37.7523, 144.9052': 2,
         '-37.7534, 144.9242': 2,
         '-37.7465, 144.91': 2,
         '-37.7428, 144.9086': 2,
         '-37.7845, 145.0105': 2,
         '-37.7953, 144.9775': 2,
         '-37.7964, 144.9839': 2,
         '-37.7903, 144.9859': 2,
         '-37.7918, 144.9824': 2,
         '-37.783, 144.932': 2,
         '-37.7826, 144.9311': 2,
         '-37.788, 144.9306': 2,
         '-37.7943, 144.8875': 2,
         '-37.7907, 144.8924': 2,
         '-37.8006, 144.881': 2,
         '-37.8016, 144.9082': 2,
         '-37.789, 144.8932': 2,
         '-37.852, 145.0942': 2,
         '-37.8534, 145.0785': 2,
         '-37.7047, 144.9087': 2,
         '-37.7016, 144.8974': 2,
         '-37.8186, 145.017': 2,
         '-37.8287, 145.035': 2,
         '-37.8177, 145.0424': 2,
         '-37.8258, 145.0446': 2,
         '-37.8216, 145.0343': 2,
         '-37.8268, 145.0344': 2,
         '-37.8261, 145.0269': 2,
         '-37.8264, 145.027': 2,
         '-37.7662, 145.0516': 2,
         '-37.7634, 145.0406': 2,
         '-37.7957, 144.932': 2,
         '-37.7974, 144.9261': 2,
         '-37.7899, 144.9231': 2,
         '-37.7893, 144.933': 2,
         '-37.7896, 144.9321': 2,
         '-37.7989, 144.9275': 2,
         '-37.7956, 144.935': 2,
         '-37.7897, 144.9228': 2,
         '-37.8024, 145.0346': 2,
         '-37.8034, 145.0369': 2,
         '-37.8083, 145.0382': 2,
         '-37.8066, 145.0211': 2,
         '-37.7941, 145.0238': 2,
         '-37.7981, 145.0472': 2,
         '-37.7776, 144.8723': 2,
         '-37.7795, 144.8729': 2,
         '-37.8597, 145.0318': 2,
         '-37.854, 145.041': 2,
         '-37.8636, 145.0301': 2,
         '-37.8515, 145.0372': 2,
         '-37.8514, 145.0361': 2,
         '-37.8769, 145.0471': 2,
         '-37.8801, 145.0874': 2,
         '-37.7752, 144.8925': 2,
         '-37.7732, 144.8927': 2,
         '-37.7853, 144.8944': 2,
         '-37.774, 144.8797': 2,
         '-37.8111, 144.9715': 2,
         '-37.8161, 144.9712': 2,
         '-37.8211, 144.9559': 2,
         '-37.8468, 144.9612': 2,
         '-37.7672, 144.9209': 2,
         '-37.7677, 144.9221': 2,
         '-37.7652, 144.9116': 2,
         '-37.758, 144.9237': 2,
         '-37.8424, 144.8653': 2,
         '-37.8491, 144.8903': 2,
         '-37.74, 144.8851': 2,
         '-37.7988, 144.9475': 2,
         '-37.802, 144.951': 2,
         '-37.8055, 144.9547': 2,
         '-37.802, 144.9516': 2,
         '-37.7955, 144.9492': 2,
         '-37.7988, 144.9478': 2,
         '-37.8004, 144.9465': 2,
         '-37.7679, 144.9994': 2,
         '-37.7828, 145.0096': 2,
         '-37.7793, 144.9972': 2,
         '-37.7715, 145.0075': 2,
         '-37.7825, 145.0072': 2,
         '-37.7864, 144.9409': 2,
         '-37.7829, 144.9574': 2,
         '-37.7312, 144.9399': 2,
         '-37.7328, 144.9281': 2,
         '-37.8405, 144.9319': 2,
         '-37.841, 144.9379': 2,
         '-37.8399, 144.9287': 2,
         '-37.8416, 144.939': 2,
         '-37.8392, 144.9421': 2,
         '-37.8407, 144.9389': 2,
         '-37.8405, 144.9385': 2,
         '-37.84, 144.939': 2,
         '-37.8486, 144.9872': 2,
         '-37.8519, 144.9948': 2,
         '-37.847, 144.9936': 2,
         '-37.8516, 144.9943': 2,
         '-37.8493, 144.9908': 2,
         '-37.8501, 144.9953': 2,
         '-37.8513, 144.9943': 2,
         '-37.7471, 144.9877': 2,
         '-37.709, 145.0219': 2,
         '-37.7327, 145.0347': 2,
         '-37.7111, 144.9919': 2,
         '-37.8159, 145.0033': 2,
         '-37.8201, 144.9898': 2,
         '-37.8333, 144.998': 2,
         '-37.8173, 144.9965': 2,
         '-37.823, 144.9982': 2,
         '-37.8128, 145.0139': 2,
         '-37.8226, 145.0064': 2,
         '-37.8033, 144.8897': 2,
         '-37.8087, 144.8978': 2,
         '-37.8311, 144.9679': 2,
         '-37.8346, 144.9673': 2,
         '-37.8319, 144.9682': 2,
         '-37.8393, 144.9886': 2,
         '-37.8421, 144.9978': 2,
         '-37.8334, 144.9867': 2,
         '-37.8423, 144.997': 2,
         '-37.8376, 144.9847': 2,
         '-37.8407, 145.0043': 2,
         '-37.8422, 144.9884': 2,
         '-37.8374, 144.9871': 2,
         '-37.8437, 144.9904': 2,
         '-37.8342, 144.9842': 2,
         '-37.8336, 144.9882': 2,
         '-37.8436, 144.9925': 2,
         '-37.837, 144.9907': 2,
         '-37.8337, 144.9886': 2,
         '-37.8235, 144.9655': 2,
         '-37.8295, 144.9692': 2,
         '-37.8255, 144.9665': 2,
         '-37.8273, 144.9685': 2,
         '-37.8284, 144.8861': 2,
         '-37.8656, 144.9782': 2,
         '-37.8731, 144.9799': 2,
         '-37.8585, 144.9852': 2,
         '-37.8591, 144.979': 2,
         '-37.8653, 144.9824': 2,
         '-37.8709, 144.9807': 2,
         '-37.8584, 144.9802': 2,
         '-37.861, 144.9891': 2,
         '-37.8644, 144.9741': 2,
         '-37.8612, 144.985': 2,
         '-37.7225, 144.9055': 2,
         '-37.7918, 144.8419': 2,
         '-37.7867, 144.8437': 2,
         '-37.8138, 145.0879': 2,
         '-37.7591, 145.0211': 2,
         '-37.7561, 145.0067': 2,
         '-37.7634, 145.021': 2,
         '-37.7581, 144.9944': 2,
         '-37.7544, 145.0092': 2,
         '-37.7584, 145.0115': 2,
         '-37.8498, 145.0173': 2,
         '-37.8474, 145.0078': 2,
         '-37.8501, 145.0199': 2,
         '-37.842, 145.0046': 2,
         '-37.8428, 145.0081': 2,
         '-37.8458, 145.0221': 2,
         '-37.8118, 144.9526': 2,
         '-37.8094, 144.9452': 2,
         '-37.8588, 144.8919': 2,
         '-37.8623, 144.8884': 2,
         '-37.8536, 144.8981': 2,
         '-37.8564, 144.8864': 2,
         '-37.8571, 144.8841': 2,
         '-37.8573, 144.8854': 2,
         '-37.8552, 145.0005': 2,
         '-37.8559, 144.999': 2,
         '-37.8556, 144.9977': 2,
         '-37.8173, 144.894': 2,
         '-37.8128, 144.8953': 2,
         '-37.8157, 144.8925': 2,
         '-37.7614, 144.8953': 2,
         '-37.7753, 144.9725': 2,
         '-37.7786, 144.9753': 2,
         '-37.765, 144.9731': 2,
         '-37.7685, 144.9724': 2,
         '-37.7679, 144.9725': 2,
         '-37.8052, 144.9604': 2,
         '-37.7929, 144.9705': 2,
         '-37.7945, 144.9718': 2,
         '-37.7969, 144.9742': 2,
         '-37.8177, 144.9801': 2,
         '-37.8136, 144.9892': 2,
         '-37.8154, 144.9851': 2,
         '-37.695, 144.9676': 2,
         '-37.8245, 145.0527': 2,
         '-37.8269, 145.0496': 2,
         '-37.8318, 145.0448': 2,
         '-37.8227, 145.0528': 2,
         '-37.7529, 145.065': 2,
         '-37.8969, 145.0654': 2,
         '-37.9032, 145.0455': 2,
         '-37.903, 145.0452': 2,
         '-37.809, 144.8686': 2,
         '-37.7968, 144.8735': 2,
         '-37.8866, 145.0396': 2,
         '-37.8278, 144.9885': 2,
         '-37.7847, 144.9383': 2,
         '-37.8971, 145.0093': 2,
         '-37.7731, 144.9568': 2,
         '-37.7881, 145.0058': 2,
         '-37.7424, 144.9571': 2,
         '-37.7794, 144.872': 2,
         '-37.7679, 144.9245': 2,
         '-37.7836, 145.0139': 2,
         '-37.7424, 145.0026': 2,
         '-37.791, 144.928': 2,
         '-37.8288, 144.8711': 2,
         '-37.857, 144.8846': 2,
         '-37.75515, 144.92114': 2,
         '-37.83032, 145.03899': 2,
         '-37.79122, 144.93175': 2,
         '-37.80893, 144.87878': 2,
         '-37.81443, 144.99079': 2,
         '-37.80697, 144.8928': 2,
         '-37.79644, 144.86388': 2,
         '-37.81381, 144.87438': 2,
         '-37.88306, 144.9841': 2,
         '-37.81439, 145.04237': 2,
         '-37.76086, 144.90497': 2,
         '-37.84712, 144.99967': 2,
         '-37.79673, 145.06853': 2,
         '-37.79561, 144.93499': 2,
         '-37.78024, 144.99289': 2,
         '-37.71328, 144.90585': 2,
         '-37.99232, 145.08469': 2,
         '-37.813, 144.99303': 2,
         '-37.73883, 144.95321': 2,
         '-37.8006, 144.95419': 2,
         '-37.84237, 144.94486': 2,
         '-37.85931, 145.00616': 2,
         '-37.85549, 145.0163': 2,
         '-37.79741, 144.92614': 2,
         '-37.76969, 145.00718': 2,
         '-37.81894, 145.01314': 2,
         '-37.93171, 145.03041': 2,
         '-37.79597, 144.99108': 2,
         '-37.74635, 144.9229': 2,
         '-37.7967, 144.98363': 2,
         '-37.79636, 144.98394': 2,
         '-37.78502, 144.86733': 2,
         '-37.87149, 144.99746': 2,
         '-37.78334, 144.97782': 2,
         '-37.7237, 144.92232': 2,
         '-37.88642, 145.05979': 2,
         '-37.71513, 145.15324': 2,
         '-37.81442, 145.01531': 2,
         '-37.77117, 144.88041': 2,
         '-37.76631, 145.01699': 2,
         '-37.82201, 145.0104': 2,
         '-37.79633, 144.97269': 2,
         '-37.77651, 144.99074': 2,
         '-37.72136, 144.92932': 2,
         '-37.82009, 145.0038': 2,
         '-38.16457, 145.12421': 2,
         '-37.85698, 145.04686': 2,
         '-37.7996, 144.9984': 1,
         '-37.8079, 144.9934': 1,
         '-37.8093, 144.9944': 1,
         '-37.7969, 144.9969': 1,
         '-37.8072, 144.9941': 1,
         '-37.8041, 144.9953': 1,
         '-37.8024, 144.9993': 1,
         '-37.806, 144.9954': 1,
         '-37.8008, 144.9973': 1,
         '-37.801, 144.9989': 1,
         '-37.811, 145.0067': 1,
         '-37.8085, 144.9964': 1,
         '-37.8084, 144.9973': 1,
         '-37.809, 144.9976': 1,
         '-37.8056, 144.993': 1,
         '-37.8021, 144.9965': 1,
         '-37.8022, 144.9975': 1,
         '-37.8011, 145.0004': 1,
         '-37.8073, 144.9952': 1,
         '-37.8093, 144.9959': 1,
         '-37.8015, 144.9972': 1,
         '-37.8079, 144.9977': 1,
         '-37.808, 144.994': 1,
         '-37.8017, 145.0001': 1,
         '-37.8005, 144.9952': 1,
         '-37.7994, 144.9965': 1,
         '-37.805, 144.9943': 1,
         '-37.8007, 144.9958': 1,
         '-37.8016, 144.9956': 1,
         '-37.8022, 144.9954': 1,
         '-37.8021, 144.9976': 1,
         '-37.8086, 144.9946': 1,
         '-37.718, 144.878': 1,
         '-37.7294, 144.888': 1,
         '-37.7218, 144.8837': 1,
         '-37.7273, 144.8744': 1,
         '-37.7215, 144.8864': 1,
         '-37.7173, 144.8872': 1,
         '-37.7259, 144.8792': 1,
         '-37.7239, 144.8735': 1,
         '-37.7216, 144.871': 1,
         '-37.7298, 144.8883': 1,
         '-37.7234, 144.8792': 1,
         '-37.7249, 144.8728': 1,
         '-37.7217, 144.8783': 1,
         '-37.7302, 144.8855': 1,
         '-37.7177, 144.8787': 1,
         '-37.7248, 144.8699': 1,
         '-37.727, 144.887': 1,
         '-37.7186, 144.876': 1,
         '-37.7218, 144.8863': 1,
         '-37.7269, 144.8742': 1,
         '-37.7187, 144.8765': 1,
         '-37.7173, 144.8796': 1,
         '-37.7231, 144.8835': 1,
         '-37.7263, 144.8679': 1,
         '-37.7285, 144.8694': 1,
         '-37.7164, 144.8792': 1,
         '-37.7194, 144.8827': 1,
         '-37.7231, 144.8802': 1,
         '-37.72, 144.8776': 1,
         '-37.7226, 144.8733': 1,
         '-37.7184, 144.882': 1,
         '-37.7202, 144.8797': 1,
         '-37.7181, 144.8824': 1,
         '-37.7169, 144.8815': 1,
         '-37.7263, 144.869': 1,
         '-37.72, 144.878': 1,
         '-37.7261, 144.8785': 1,
         '-37.7256, 144.8739': 1,
         '-37.8459, 144.9555': 1,
         '-37.845, 144.9538': 1,
         '-37.8481, 144.9499': 1,
         '-37.8452, 144.9488': 1,
         '-37.8431, 144.9565': 1,
         '-37.8444, 144.9484': 1,
         '-37.8405, 144.9521': 1,
         '-37.8447, 144.9523': 1,
         '-37.8443, 144.9598': 1,
         '-37.8415, 144.952': 1,
         '-37.8422, 144.9554': 1,
         '-37.8443, 144.9579': 1,
         '-37.8421, 144.9571': 1,
         '-37.8379, 144.9539': 1,
         '-37.8436, 144.9557': 1,
         '-37.8422, 144.949': 1,
         '-37.8451, 144.9511': 1,
         '-37.8407, 144.9523': 1,
         '-37.8445, 144.9501': 1,
         '-37.8443, 144.9481': 1,
         '-37.8424, 144.9562': 1,
         '-37.847, 144.9575': 1,
         '-37.8468, 144.9546': 1,
         '-37.8473, 144.9551': 1,
         '-37.8467, 144.9475': 1,
         '-37.846, 144.9542': 1,
         '-37.8427, 144.9546': 1,
         '-37.8461, 144.9528': 1,
         '-37.8421, 144.9517': 1,
         '-37.8477, 144.9558': 1,
         '-37.846, 144.9517': 1,
         '-37.8429, 144.9493': 1,
         '-37.8413, 144.95': 1,
         '-37.8434, 144.9495': 1,
         '-37.8416, 144.9488': 1,
         '-37.8387, 144.9519': 1,
         '-37.8488, 144.9551': 1,
         '-37.8448, 144.9453': 1,
         '-37.8399, 144.9577': 1,
         '-37.8411, 144.9497': 1,
         '-37.7707, 145.0318': 1,
         '-37.7854, 145.0325': 1,
         '-37.7713, 145.0279': 1,
         '-37.7717, 145.031': 1,
         '-37.775, 145.0268': 1,
         '-37.7791, 145.0306': 1,
         '-37.7804, 145.0308': 1,
         '-37.78, 145.0341': 1,
         '-37.7755, 145.0288': 1,
         '-37.7747, 145.0264': 1,
         '-37.7743, 145.0316': 1,
         '-37.7723, 145.0319': 1,
         '-37.7802, 145.0243': 1,
         '-37.7848, 145.025': 1,
         '-37.7805, 145.0262': 1,
         '-37.7792, 145.029': 1,
         '-37.7844, 145.0225': 1,
         '-37.7781, 145.0284': 1,
         '-37.7719, 145.0309': 1,
         '-37.87, 144.825': 1,
         '-37.8721, 144.8105': 1,
         '-37.8687, 144.8197': 1,
         '-37.8693, 144.8375': 1,
         '-37.868, 144.8154': 1,
         '-37.8681, 144.819': 1,
         '-37.8702, 144.8143': 1,
         '-37.8693, 144.8171': 1,
         '-37.8616, 144.8116': 1,
         '-37.8594, 144.817': 1,
         '-37.8696, 144.827': 1,
         '-37.8697, 144.8249': 1,
         '-37.8734, 144.8143': 1,
         '-37.8686, 144.8182': 1,
         '-37.8733, 144.8147': 1,
         '-37.871, 144.8185': 1,
         '-37.8646, 144.827': 1,
         '-37.8579, 144.8181': 1,
         '-37.8678, 144.8384': 1,
         '-37.8659, 144.831': 1,
         '-37.8658, 144.8155': 1,
         '-37.8698, 144.816': 1,
         '-37.868, 144.8286': 1,
         '-37.8611, 144.8114': 1,
         '-37.8676, 144.8202': 1,
         '-37.8655, 144.8299': 1,
         '-37.868, 144.8287': 1,
         '-37.8608, 144.8124': 1,
         '-37.8687, 144.8268': 1,
         '-37.8674, 144.8375': 1,
         '-37.86, 144.8245': 1,
         '-37.8672, 144.817': 1,
         '-37.8583, 144.8172': 1,
         '-37.8699, 144.8235': 1,
         '-37.8684, 144.815': 1,
         '-37.8663, 144.8387': 1,
         '-37.8659, 144.822': 1,
         '-37.8612, 144.8247': 1,
         '-37.8653, 144.8129': 1,
         '-37.8651, 144.832': 1,
         '-37.868, 144.8285': 1,
         '-37.871, 144.8075': 1,
         '-37.8631, 144.8195': 1,
         '-37.8637, 144.8365': 1,
         '-37.8646, 144.8272': 1,
         '-37.8388, 144.8567': 1,
         '-37.8291, 144.835': 1,
         '-37.8351, 144.8529': 1,
         '-37.8338, 144.8562': 1,
         '-37.8284, 144.8355': 1,
         '-37.8267, 144.8368': 1,
         '-37.8379, 144.8583': 1,
         '-37.838, 144.8555': 1,
         '-37.8294, 144.8378': 1,
         '-37.8448, 144.8529': 1,
         '-37.8397, 144.8602': 1,
         '-37.8451, 144.8529': 1,
         '-37.8337, 144.8554': 1,
         '-37.8258, 144.8523': 1,
         '-37.8345, 144.8444': 1,
         '-37.8254, 144.8514': 1,
         '-37.8327, 144.8451': 1,
         '-37.8269, 144.8455': 1,
         '-37.8391, 144.8467': 1,
         '-37.8262, 144.8443': 1,
         '-37.8277, 144.8385': 1,
         '-37.8382, 144.8649': 1,
         '-37.8423, 144.8632': 1,
         '-37.8444, 144.8491': 1,
         '-37.834, 144.8553': 1,
         '-37.8318, 144.8388': 1,
         '-37.833, 144.8494': 1,
         '-37.8262, 144.8439': 1,
         '-37.8393, 144.8568': 1,
         '-37.8375, 144.8541': 1,
         '-37.8441, 144.8505': 1,
         '-37.8285, 144.8351': 1,

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64

In [122]:
print(melb_data['Price'].mean())
print(melb_data['Car'].max())

1075684.079455081
10

In [123]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

In [124]:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

In [125]:
print(melb_data['Rooms'].mode())
melb_data['Regionname'].mode()

0    3
Name: Rooms, dtype: int64

0    Southern Metropolitan
Name: Regionname, dtype: object

In [126]:
melb_data['Distance'].std()
display(abs(melb_data['BuildingArea'].median()-melb_data['BuildingArea'].mean())/melb_data['BuildingArea'].median())

0.10820612928676636

In [127]:
print(pd.DataFrame([1, 2, 4, 2, 3, 2, 1, 5, 6]).mode())
display(melb_data['Bedroom'].mode())

   0
0  2

0    3
Name: Bedroom, dtype: int64

In [128]:
mask = melb_data['Price'] > 2000000
display(mask)
display(melb_data[mask].head())
melb_data[melb_data['Price'] > 2000000]

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.84810,144.94990,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.84470,144.95230,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.84220,144.95540,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.84150,144.95850,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.84360,144.95570,Southern Metropolitan,3280,"-37.8436, 144.9557"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13521,13521,Port Melbourne,44 Garton St,4,t,2455000.0,SP,Marshall,26/08/2017,3.5,...,2,123.0,0.0,2010,NaN,-37.83349,144.94840,Southern Metropolitan,8648,"-37.83349, 144.9484"
13523,13523,Prahran,69 Greville St,4,h,2668000.0,S,Biggin,26/08/2017,4.6,...,2,383.0,126.0,1970,NaN,-37.84879,144.98882,Southern Metropolitan,7717,"-37.84879, 144.98882"
13553,13553,Surrey Hills,20 Albert Cr,4,h,2720000.0,S,Kay,26/08/2017,10.2,...,2,1005.0,126.0,1920,NaN,-37.82421,145.10352,Southern Metropolitan,5457,"-37.82421, 145.10352"
13555,13555,Surrey Hills,3 Oak St,4,h,3100000.0,VB,Marshall,26/08/2017,10.2,...,3,832.0,126.0,1970,NaN,-37.83564,145.10919,Southern Metropolitan,5457,"-37.83564, 145.10919"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299"

In [129]:
melb_data[melb_data['Rooms'] == 3].shape[0]

5881

In [138]:
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]
melb_data[melb_data['Type'] == 't']['Rooms'].max()

5

In [139]:
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

126.0

In [144]:
melb_data[melb_data['Bathroom']==0].shape[0]

34

In [142]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [147]:
melb_data[(melb_data['SellerG']=='Nelson') & (melb_data['Price']>3000000)].shape[0]

5

In [149]:
melb_data[melb_data['BuildingArea']==0]['Price'].min()

412500.0

In [156]:
method = (melb_data['Price']<1000000) & ((melb_data['Rooms']>5) | (melb_data['YearBuilt']>2015))
melb_data[method]['Price'].mean()

769238.6363636364

In [159]:
method = (melb_data['Price']<3000000) & (melb_data['Type']=='h') 
melb_data[method]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object