2. Ансамбли моделей. Бутстреппинг. Бэггинг

In [1]:
import numpy as np
import pandas as pd

from sklearn import linear_model
from sklearn import ensemble
from sklearn import metrics
from sklearn import tree

from sklearn.model_selection import train_test_split

In [2]:
a = np.array([4.4, 3.8, 4.8, 4.0, 3.4, 4.2, 5.2])
b = a.mean()
np.sum((a - b)**2)/7

0.31673469387755115

In [3]:
data = pd.read_csv('data/wineQualityReds.zip', index_col=0)
data.head()

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
data['quality'] = data['quality'].apply(lambda x: 1 if x >=6 else 0)
data.head()

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [5]:
X = data.drop('quality', axis=1)
y = data['quality']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.3)

In [7]:
lr = linear_model.LogisticRegression()

lr.fit(X_train, y_train)

y_test_pred = lr.predict(X_test)

print(f'f1 metric {metrics.f1_score(y_test_pred, y_test)}')

f1 metric 0.7542857142857143

c:\Projects\DS\lessons\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
dt = tree.DecisionTreeClassifier(random_state=42, max_depth=10)

dt.fit(X_train, y_train)

y_test_pred = dt.predict(X_test)

print(f'f1 metric {metrics.f1_score(y_test_pred, y_test)}')

f1 metric 0.7927927927927928

In [9]:
bc = ensemble.BaggingClassifier(estimator=dt, n_estimators=1500, random_state=42)

bc.fit(X_train, y_train)

y_test_pred = bc.predict(X_test)

print(f'f1 metric {metrics.f1_score(y_test_pred, y_test)}')

f1 metric 0.8181818181818182

 3. Случайный лес

In [10]:
data = pd.read_csv('data/boston__1_.zip')

for col in data.columns:
    if type(data[col][0]) is str:
        data[col] = data[col].str.replace(',', '.').astype(float)
data.head()

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

Задание 3.4
4 points possible (graded)
1. Разбейте набор данных на обучающую и тестовую выборку в соотношении 70/30, при разбиении задайте параметр random_state = 13.

Какое получилось среднее значение медианных цен на обучающей выборке? Ответ округлите до двух знаков после точки-разделителя.

  нет ответа 
 
2. Обучите линейную регрессию с параметрами по умолчанию.

В качестве ответа введите ошибку MAE на тестовой выборке. Ответ округлите до двух знаков после точки-разделителя.

  нет ответа 
 

3. Обучите решающее дерево с параметрами по умолчанию и аргументом random_state = 13.

Можно ли, опираясь на результаты, сделать вывод, что алгоритм переобучился?

In [11]:
X = data.drop('target', axis=1)
y = data['target']
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: target, Length: 506, dtype: float64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 13, test_size = 0.3)

In [13]:
y_train

475    13.3
489     7.0
298    22.5
100    27.5
223    30.1
       ...
230    24.3
16     23.1
74     24.1
176    23.2
338    20.6
Name: target, Length: 354, dtype: float64

In [14]:
print(f'median train target = {y_train.mean()}')

median train target = 22.77316384180791

In [15]:
linr = linear_model.LinearRegression()


linr.fit(X_train, y_train)

y_test_pred = linr.predict(X_test)

print(f'MAE metric {metrics.mean_absolute_error(y_test_pred, y_test)}')

MAE metric 3.7222793958561513

In [16]:
trreg = tree.DecisionTreeRegressor(random_state=13)

trreg.fit(X_train, y_train)

y_test_pred = trreg.predict(X_test)
y_train_pred = trreg.predict(X_train)

print(f'MAE tests metric {metrics.mean_absolute_error(y_test_pred, y_test)}')
print(f'MAE train metric {metrics.mean_absolute_error(y_train_pred, y_train)}')

MAE tests metric 2.8388157894736845
MAE train metric 0.0

In [17]:
for n in [3, 10, 100, 500]:
    rand_tree = ensemble.RandomForestRegressor(n_estimators=n, random_state=13)
    
    rand_tree.fit(X_train, y_train)

    y_test_pred = rand_tree.predict(X_test)
    y_train_pred = rand_tree.predict(X_train)

    print(f'MAE tests metric {metrics.mean_absolute_error(y_test_pred, y_test)}')
    print(f'MAE train metric {metrics.mean_absolute_error(y_train_pred, y_train)}\n')

MAE tests metric 2.9328947368421057
MAE train metric 1.017231638418079

MAE tests metric 2.466315789473684
MAE train metric 0.9755367231638419

MAE tests metric 2.2559736842105265
MAE train metric 0.8717740112994352

MAE tests metric 2.2365657894736892
MAE train metric 0.8478135593220345

4. Случайный лес. Практика

In [18]:
data = pd.read_csv('data/weatherAUS.zip')
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

Задание 4.1
1 point possible (graded)
Сколько суммарно пропусков в данных?

In [19]:
print(f'Кол-во пропусков = {data.isna().sum().sum()}')

Кол-во пропусков = 343248

Задание 4.2
1 point possible (graded)
В некоторых признаках пропусков более 40 % — удалите такие признаки. Сколько их было?

In [20]:
columns_to_drop = []
for col in data.columns:
    if data[col].isna().sum()/145460 >=0.4:
        columns_to_drop.append(col)
        
columns_to_drop

['Evaporation', 'Sunshine', 'Cloud3pm']

In [21]:
data = data.drop(columns_to_drop, axis=1)
data.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir',
       'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Temp9am', 'Temp3pm', 'RainToday',
       'RainTomorrow'],
      dtype='object')

Задание 4.3
1 point possible (graded)
Теперь обработаем признаки RainToday и RainTomorrow таким образом, чтобы вместо yes было значение 1, а вместо no — значение 0. Обратите внимание на то, что в признаках RainToday и RainTomorrow присутствуют пропуски, и их трогать не нужно, они должны остаться пропусками. Поэтому обрабатывайте столбцы таким образом, чтобы не видоизменить пропущенные значения.

Вычислите среднее арифметическое для преобразованного признака RainToday и запишите его в ответ, предварительно округлив до двух знаков после точки-разделителя.

In [22]:
def to_binary(x):
    if x == 'Yes':
        return 1
    elif x == 'No':
        return 0
    else:
        return x

In [23]:
data['RainToday'] = data['RainToday'].apply(to_binary)
data['RainTomorrow'] = data['RainTomorrow'].apply(to_binary)

In [24]:
print(f"Среднее арифметическое = {data['RainToday'].mean()}")

Среднее арифметическое = 0.22419285648984874

Задание 4.4
1 point possible (graded)
Обработайте признак Date таким образом, чтобы выделить в отдельный признак Month (номер месяца). Изначальный признак Date удалите. Определите, какой месяц имеет самую большую часть дождливых дней относительно всех дней месяца. В качестве ответа введите порядковый номер месяца.

In [25]:
data['Month'] = pd.to_datetime(data['Date'], yearfirst=True).dt.month

print(f"Относительное количество дождливых дней \n {data[['Month', 'RainToday']].groupby('Month').mean('RainToday')}")

Относительное количество дождливых дней
        RainToday
Month
1       0.189484
2       0.206746
3       0.217135
4       0.216845
5       0.222163
6       0.263638
7       0.270736
8       0.253167
9       0.229135
10      0.196512
11      0.210843
12      0.213037

In [26]:
data = data.drop('Date', axis=1)
data.columns

Index(['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir',
       'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Temp9am', 'Temp3pm', 'RainToday',
       'RainTomorrow', 'Month'],
      dtype='object')

Задание 4.5
1 point possible (graded)
Обработайте оставшиеся категориальные признаки. С помощью метода get_dummies с настройками по умолчанию создайте dummy-переменные для всех категориальных признаков (их пять), которые есть в данных на этот момент.

Кодировку признаков важно выполнить именно в следующем порядке: categoricals = ['Month', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']. Это необходимо для того, чтобы ваши дальнейшие ответы сходились с нашим решением, так как алгоритм случайного леса, который мы будем использовать в дальнейшем, чувствителен к порядку столбцов. Аргумент categoricals передаётся в функцию pd.get_dummies() с использованием ключевого слова columns, а именно columns=categoricals.

Сколько теперь признаков в данных, если считать целевую переменную?

In [27]:
categoricals = ['Month', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']

data = pd.get_dummies(data, columns=categoricals)

In [28]:
print(f'Кол-во признаков = {len(data.columns)}')

Кол-во признаков = 124

Задание 4.6
1 point possible (graded)
Осталось совсем немного. Удалите все строки, где есть пропуски. Далее разбейте данные на обучающую и тестовую выборки в соотношении 70/30, в качестве значения параметра random_state возьмите число 31.

Каково среднее значение целевой переменной на тестовой выборке? Ответ округлите до двух знаков после точки-разделителя.

In [29]:
d_data = data.dropna(axis=0, how='any')

X = d_data.drop('RainTomorrow', axis=1)
y = d_data['RainTomorrow']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 31, test_size = 0.3)

In [30]:
print(f'Среднее в тестовой выборке = {y_test.mean()}')

Среднее в тестовой выборке = 0.22770253002811142

In [54]:
d_data.shape

(78257, 124)

Задание 4.7
1 point possible (graded)
Теперь давайте вспомним про бутстреп. Он не понадобится нам для решения этой задачи, но будет полезно реализовать его «вручную».

Сделайте оценку стандартного отклонения для среднего значения минимальной температуры для обучающей выборки (то есть для среднего значения по признаку MinTemp). Для этого сгенерируйте 1000 случайных выборок из наших данных — каждая из них должна быть такого же объёма, как и обучающая выборка. Для генерации выборки используйте np.random.randint(): сгенерируйте необходимое количество индексов и по ним извлеките соответствующие элементы выборки. Случайность фиксируйте с помощью np.random.seed(31).

Для каждой выборки вычислите среднее значение, а после найдите стандартное отклонение для этих значений. Ответ округлите до двух знаков после точки-разделителя.

In [55]:
np.random.seed(31)
num = np.random.randint(low=0, high=d_data.shape[0], size=[1000, d_data.shape[0]],)
num.shape

(1000, 78257)

In [62]:
mean =[]
for raw in range(num.shape[0]):
    sum_of_items = 0
    for elem in  num[raw]:
        sum_of_items += d_data['MinTemp'].iloc[elem]
        # print(sum_of_items)
    mean.append(sum_of_items/d_data.shape[1])

KeyboardInterrupt:

In [61]:
mean

[8150.700000000002, 8138.318548387052]

In [ ]:
pd.DataFrame(mean).std()

0   NaN
dtype: float64