In [25]:
import pandas as pd

### 2. Загрузка данных

Данные обучения, которые включают в себя unit_sales с датой, store_nbr и item_nbr, а также уникальный идентификатор для маркировки строк.
Единицы unit_sales могут быть целыми (например, мешок чипсов) или плавающими (например, 1,5 кг сыра).

Отрицательные значения unit_sales представляют собой возврат этого конкретного элемента.

В столбце onpromotion указано, участвовал ли этот item_nbr в продвижении на указанную дату.

In [31]:
train = pd.read_csv('data/train.zip', index_col='id')
train.head()

C:\Users\User\AppData\Local\Temp\ipykernel_22428\1139991065.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('data/train.zip', index_col='id')

MemoryError: Unable to allocate 1.87 GiB for an array with shape (2, 125497040) and data type object

Данные о магазине, включая город, штат, тип и кластер.

In [ ]:
stores = pd.read_csv('data/stores.zip')
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

Данные по продукту, включая категорию, класс и указание о том, скоропортящийся ли продукт.

Товары, отмеченные как скоропортящиеся, имеют вес 1.25 балла; в противном случае вес равен 1.0.

In [ ]:
items = pd.read_csv('data/items.zip')
items.head()

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

Праздники и события

In [ ]:
holiday_events = pd.read_csv('data/holidays_events.zip')
holiday_events.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

Транзакции покупок

In [ ]:
transactions = pd.read_csv('data/transactions.zip')
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

### 5. Характеристики и параметры временных рядов. Практика